# Dealing with Missing Data

In [6]:
import numpy as np
import pandas as pd

In [4]:
data = '/Users/rohit/Github/machine_learning_notes/Datacamp/Data/'

In [13]:
pima = pd.read_csv(data + 'pima-indians-diabetes data.csv')

In [14]:
pima.head()

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1.0
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0.0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33,1.0

In [15]:
pima.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnant,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,763.0,121.686763,30.535641,44.000,99.00000,117.0000,141.00000,199.00
Diastolic_BP,733.0,72.405184,12.382158,24.000,64.00000,72.0000,80.00000,122.00
Skin_Fold,541.0,29.153420,10.476982,7.000,22.00000,29.0000,36.00000,99.00
Serum_Insulin,394.0,155.548223,118.775855,14.000,76.25000,125.0000,190.00000,846.00
BMI,757.0,32.457464,6.924988,18.200,27.50000,32.3000,36.60000,67.10
Diabetes_Pedigree,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
Class,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [16]:
pima.loc[:, 'BMI'] = pima.loc[:, 'BMI'].replace(np.nan, 0)